/* Fonts */
@font-face {
    font-family: 'dinprobold';
    src: url(Fonts/DINPro-CondBold.otf);
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: 'dinprolight';
    src: url(Fonts/DINPro-CondLight.otf);
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'dinpromedium';
    src: url(Fonts/DINPro-CondMedium.otf);
    font-style: normal;
	font-weight: 300;
}

/* Initial Tag setup inc fade in when page starts */

body {
	background: rgb(230, 230, 230);
	font-style: 'dinpromedium';
	overflow-x: hidden;
}

.bg {
	z-index: -10;
	position: fixed;
	background-size: cover;
	margin-top: -100px;
	opacity: .1;
}

body section {
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

p {
	text-align: justify;
	
}

section {
	padding-top: 8%;
	padding-bottom: 13%;
}


a:hover {
	color: white;
}

#headingGroup span {
	color: rgb(46, 109, 180);
}

#headingGroup h1 {
	font-weight: 100;
	font-size: 4rem;
}

.icon {
	width: 30px;
}


/* Nav section */


.navbar.scrolled {
	background: rgb(146, 146, 146);
	transition: background 500ms

}

#mainNavbar {
	font-size: 1.5rem;
	font-weight: 100;
}

#mainNavbar .nav-link {
	color: white;
}

#mainNavbar .nav-link:hover {
	color: rgb(46, 109, 180);
}

#mainNavbar .navbar-brand {
  	color: rgb(46, 109, 180);
  	font-size: 60%;
  	text-align: center;
}

#mainNavbar .navbar-toggler {
  	color: rgb(46, 109, 180);
}


/* Hero Section */

.blurb h2 {
	color: rgb(46, 46, 46);
	font-weight: 400;
	font-size: 2.5rem;
}

.blurb p {
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 2;
}

.pic-wrapper img {
	width: 300px;
	transform: rotate(-10deg);
	box-shadow: 10px 5px 5px rgba(0, 0, 0, .3);
}

.text-wrapper {
	margin-bottom: 0;
}



/* Progress Bar Section */

.container-skills {
	width: 100%;
	background-color: #ddd;
} 

/* Prog bar css */

.progress-bar {
    width: 100%;
    height: 50px;
    padding-top: 20px;
	background-color: transparent;
}

.bar-border {
    background-color: transparent;
    height: 30px;
    width: 100%;
    border: 2px black solid;
    position: relative;
    border-radius: 1.5em;
    z-index: 1;
}

.bar-fill{
    background-color: burlywood;
    height: 26px;
    width: 2rem;
    position: relative;
    bottom: 28px;
    border-radius: 30px 100% 100% 30px;
}

.percent {
	color: #ebebeb;
    margin: -5px;
	text-align: center;
}

.dark-text {
	color: black;
}

#bar-one {
    background-color: tomato;
    will-change: width, border-radius;
}

#bar-two {
    background-color: #2965f1;
    will-change: width, border-radius;
}

#bar-three {
    background-color: #f0db4f;
    will-change: width, border-radius;
}

#bar-four {
    background-color: #563d7c;
    will-change: width, border-radius;
}

/* uses js is-visible to animate */
#bar-one.is-visible {
    width: 90%;
    border-radius: 50px;
    transition: 1s;
}

#bar-two.is-visible {
    width: 70%;
    border-radius: 50px;
    transition: 1s;
}

#bar-three.is-visible {
    width: 55%;
    border-radius: 50px;
    transition: 1s;
}

#bar-four.is-visible {
    width: 60%;
    border-radius: 50px;
    transition: 1s;
}

/* Projects Section */

.card-img-top {
	height: 191.68px;
}

.card-text {
	font-size: 1rem;
}

/* Contact Section */

.contact-media {
	list-style: none;
}

.contact-wrapper {
	padding-bottom: 50px;
}

/* Footer */

footer {
	font-weight: 400;
	font-size: .9rem;
	line-height: 2;
	text-align: center;
	background-color: rgb(146, 146, 146);
	margin: 0%;
}

.footer-text {
	margin-bottom: 0;
	color: white;
}

.footer-wrapper {
	padding-bottom: 30px;
	position: relative;
}


/* Media queries */


@media (max-width: 870px) {

	.blurb p {
		font-size: 1rem;
	}

	.blurb h2 {
		font-weight: 800;
		font-size: 1.5rem;
	}

	.pic-wrapper img {
		width: 320px;
		max-width: 60%;
		padding-left: .5rem;
		transform: rotate(0);
		box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
	}

	#mainNavbar {
		position: absolute;
	}

	.bar-fill {
		height: 25px;
		bottom: 25px;
	}

	.row {
		padding: 0;
		margin: 0;
	}
	
	.col-lg-4 {
		height: 1000px;
	}
}
